@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    border: rgb(231, 231, 227);
    border-style: solid;
    border-width: 1px;
}

span.unit {
    position: absolute;
    display: inline-block;
    border: rgb(231, 231, 227);
    border-style: solid;
    border-width: 1px;
}

span.unit:hover {
    background-color: white !important;
    color: black !important;
}

#link-to-image:hover {
    background-color: orangered !important;
    cursor: pointer;
}

#link-to-image:hover span {
    background-color: orangered !important;
    cursor: pointer;
}

span.unit.contained {
    font-family: 'Archivo Narrow', sans-serif;
    background-color: none;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#grid {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}